[submodule "hdl/submodules/complex_multiplier"]
	path = hdl/submodules/complex_multiplier
	url = git@github.com:catkira/complex_multiplier
	branch = master
[submodule "hdl/submodules/marga"]
	path = hdl/submodules/marga
	url = git@github.com:vnegnev/marga.git
	branch = master
[submodule "hdl/submodules/CIC"]
	path = hdl/submodules/CIC
	url = git@github.com:catkira/CIC.git
	branch = master
[submodule "hdl/submodules/DDS"]
	path = hdl/submodules/DDS
	url = git@github.com:catkira/DDS.git
	branch = master
